.calculator{
    border: 1px solid black;
    height :  40rem;
    width : 40%;
    margin: auto;
    background-color: rgb(65, 121, 251);
    border-radius: 1rem;
    margin-top: 5rem;
}
.input{
    border: 3px solid black;
    font-size: larger;
    width : 85% ;
    height: 15%;
    margin: auto;
    display: flex;
    padding: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(97, 193, 97);
}
